<footer class="site-footer">
    <div class="container">
        <div class="eu-funding">
            <p>This project has received funding from the European Union's Horizon Europe research and innovation programme under Marie Sklodowska-Curie grant agreement No. 101119635.</p>
        </div>
        <div class="footer-grid">
            <div class="footer-col">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="{{ "about-the-project/" | relURL }}">About</a></li>
                    <li><a href="{{ "people/" | relURL }}">People</a></li>
                    <li><a href="{{ "partners/" | relURL }}">Partners</a></li>
                    <li><a href="{{ "blog/" | relURL }}">News</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Training</h4>
                <ul>
                    <li><a href="{{ "training-modules/" | relURL }}">Modules</a></li>
                    <li><a href="{{ "training-events/" | relURL }}">Events</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact</h4>
                <p>j.osterrieder@utwente.nl</p>
                <p>University of Twente</p>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; {{ now.Year }} MSCA Digital Finance Consortium</p>
        </div>
    </div>
</footer>
